<div class="margt50">
<md-card class="block">
<div class="center">
<h2 class="clr">Login</h2>
<form class="example-form center" [formGroup]="loginform" (ngSubmit)="onLogin(loginform.value)">
   <md-form-field class="example-full-width">
    <input mdInput placeholder="Email" name="email" formControlName="email">
    <md-error *ngIf="loginform.controls['email'].hasError('pattern')">
      Please enter a valid email address
    </md-error>
    <md-error *ngIf="loginform.controls['email'].hasError('required')">
      Email is <strong>required</strong>
    </md-error>
  </md-form-field>
  <md-form-field class="example-full-width">
    <input type="password" mdInput placeholder="Password"  name="password" formControlName="password">
    <md-error *ngIf="loginform.controls['password'].hasError('required')">
      Password <strong>required</strong>
    </md-error>
     <md-error *ngIf="loginform.controls['password'].hasError('minLength')">
       Password must be minimum 5 charcters <strong>required</strong>
    </md-error>
     <md-error *ngIf="loginform.controls['password'].hasError('maxLength')">
      Password  must be maximum 10 charcters<strong>required</strong>
    </md-error>
  </md-form-field>
  <div>
   <button md-raised-button color="primary">Log In</button>
  </div>
</form>
</div>
</md-card>
</div>