<div fxLayout="row" fxLayoutWrap fxLayoutGap="10px">
	<div fxFlex="10%" >
		<div id="thumbs" fxLayout="column" fxLayoutWrap fxLayoutGap="10px">
		        <img (click)="changeLargeImg('img1.jpeg',208,416)" width="35px" height="76px" src="./assets/images/thumb1.jpeg"/>
		        <img (click)="changeLargeImg('img11.jpeg',181,416)" width="35px" height="76px" src="./assets/images/thumb2.jpeg"/>
		        <img (click)="changeLargeImg('img12.jpeg',22,416)" width="6px" height="76px" src="./assets/images/thumb3.jpeg"/>
		        <img (click)="changeLargeImg('img13.jpeg',316,416)" width="35px" height="76px" src="./assets/images/thumb4.jpeg"/>
		  </div>
    </div>
    
	<div fxFlex="30%" >
		<md-card id="panel">
	    <img id="largeImage" class="lg-img" width="{{w}}" height="{{h}}" src="./assets/images/{{largeimg}}"/>
	    <md-card-actions fxLayoutAlign="center" class="margt20">
      <div fxLayout="row">
        <span fxFlex></span>
        <button md-raised-button color="primary">
          Buy Now
        </button>
        <button md-raised-button color="accent">
          Add to Cart
        </button>
      </div>
    </md-card-actions>
	  	</md-card>
	</div>
	<div fxFlex="50%" >
		<md-card>
		<h2>Samsung J7 Max (Gold, 32 GB) (4 GB RAM)</h2>
		 <button md-fab color="accent" >4.8 *</button> 500 Ratings & 81 Reviews
        <h3>Price 13,490 INR</h3>
        <p>No Cost EMIs from 2,249/month.
        	Other EMIs from 655/month View Plans<br>
			Get upto 12,500 off on exchange
			Buy with Exchange<br>

Special PriceGet extra 910 off (price inclusive of discount)T&C<br>
        </p>
        <h3>Highlights</h3>
        <ul data-reactid="358"><li class="_2-riNZ" data-reactid="359">3 GB RAM | 32 GB ROM | Expandable Upto 256 GB</li>
        <li class="_2-riNZ" data-reactid="360">5 inch HD Display</li>
        <li class="_2-riNZ" data-reactid="361">13MP Rear Camera | 5MP Front Camera</li>
        <li class="_2-riNZ" data-reactid="362">2400 mAh Li-Ion Battery</li>
        <li class="_2-riNZ" data-reactid="363">Exynos 7570 Quad Core 1.4GHz Processor</li></ul>
        <h3>Seller</h3>
        <ul data-reactid="385">
        <li class="puBqcQ" data-reactid="386">
        <div class="_32MN3e" data-reactid="387">
        <!-- react-text: 388 -->10 Days Replacement Policy<!-- /react-text --><div class="_20yN1P" data-reactid="389"><span class="question" data-reactid="390"></span>
        <li class="VXac4C" data-reactid="391"><span data-reactid="392"><span data-reactid="393">View </span></span><a href="javascript:void(0);" data-reactid="394"><span class="_37fzmc" data-reactid="395"><span data-reactid="396"><!-- react-text: 397 -->14 sellers <!-- /react-text --></span></span><span data-reactid="398"><span data-reactid="399">starting from </span></span><span class="_18Zlgn" data-reactid="400"><!-- react-text: 401 -->₹<!-- /react-text --><!-- react-text: 402 -->13,490<!-- /react-text --></span></a></li>
        </div></div></li></ul>
		</md-card>
	
	<!-- <h2>Specifications</h2>
	<ul data-reactid="414">
	<li class="_1KuY3T row" data-reactid="415">
	<div class="vmXPri col col-3-12" data-reactid="416">In The Box</div>
	<ul class="_3dG3ix col col-9-12" data-reactid="417">
	<li class="sNqDog" data-reactid="418">Handset, Adaptor, Earphone, User Manual</li>
	</ul>
	</li><li class="_1KuY3T row" data-reactid="419">
	<div class="vmXPri col col-3-12" data-reactid="420">Model Number</div>
	<ul class="_3dG3ix col col-9-12" data-reactid="421"><li class="sNqDog" data-reactid="422">SM-G570FZKGINS</li>
	</ul></li><li class="_1KuY3T row" data-reactid="423">
	<div class="vmXPri col col-3-12" data-reactid="424">Model Name</div>
	<ul class="_3dG3ix col col-9-12" data-reactid="425"><li class="sNqDog" data-reactid="426">Galaxy J5 Prime</li>
	</ul></li><li class="_1KuY3T row" data-reactid="427">
	<div class="vmXPri col col-3-12" data-reactid="428">Color</div><ul class="_3dG3ix col col-9-12" data-reactid="429"><li class="sNqDog" data-reactid="430">Black</li></ul></li><li class="_1KuY3T row" data-reactid="431"><div class="vmXPri col col-3-12" data-reactid="432">Browse Type</div><ul class="_3dG3ix col col-9-12" data-reactid="433"><li class="sNqDog" data-reactid="434">Smartphones</li></ul></li><li class="_1KuY3T row" data-reactid="435"><div class="vmXPri col col-3-12" data-reactid="436">SIM Type</div><ul class="_3dG3ix col col-9-12" data-reactid="437"><li class="sNqDog" data-reactid="438">Dual Sim</li></ul></li><li class="_1KuY3T row" data-reactid="439"><div class="vmXPri col col-3-12" data-reactid="440">Hybrid Sim Slot</div><ul class="_3dG3ix col col-9-12" data-reactid="441"><li class="sNqDog" data-reactid="442">No</li></ul></li><li class="_1KuY3T row" data-reactid="443"><div class="vmXPri col col-3-12" data-reactid="444">Touchscreen</div><ul class="_3dG3ix col col-9-12" data-reactid="445"><li class="sNqDog" data-reactid="446">Yes</li></ul></li><li class="_1KuY3T row" data-reactid="447"><div class="vmXPri col col-3-12" data-reactid="448">OTG Compatible</div><ul class="_3dG3ix col col-9-12" data-reactid="449"><li class="sNqDog" data-reactid="450">Yes</li></ul></li></ul> -->
	</div>
</div>

