.margt50
{
	margin-top:50px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.center
{
	display:block;
	margin:auto;
	text-align:center;
}
.block
{
	width:600px;
	margin:0px auto;
	display:block;
}
.clr
{
	background-color:orange;
	padding:5px;
	color:#fff;
	text-align:center;
	width:540px;
	display:block;
	margin:0px auto;
	margin-bottom:20px;
}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer
{
	width:99%;
	position:fixed;
	bottom:0;
	height:30px;
	background-color:#3f51b5;
	color:#fff !important;
	/* font-size:14px; */
	text-align:center;
	valign:middle;
	margin-bottom:2px;
	margin-top:10px;
}
.footer p{
	
	margin-top:2px;
}
.marginb20
{
	margin-bottom:20px;
}