<div class="margt50">
<md-card class="block">
<div class="center">
<h2 class="clr">Signup Here</h2>
<form class="example-form center" [formGroup]="signupform" (ngSubmit)="onSignup('signupform.value')">
	<md-form-field class="example-full-width">
    <input mdInput placeholder="First Name" formControlName="firstNameFormControl">
    <md-error *ngIf="signupform.controls['firstNameFormControl'].hasError('required')">
      First Name <strong>required</strong>
    </md-error>
  </md-form-field>
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Last Name" formControlName="lastNameFormControl">
    <md-error *ngIf="signupform.controls['lastNameFormControl'].hasError('required')">
      Last Name <strong>required</strong>
    </md-error>
  </md-form-field>
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Email" formControlName="emailFormControl">
    <md-error *ngIf="signupform.controls['emailFormControl'].hasError('pattern')">
      Please enter a valid email address
    </md-error>
    <md-error *ngIf="signupform.controls['emailFormControl'].hasError('required')">
      Email is <strong>required</strong>
    </md-error>
  </md-form-field>
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Mobile No." formControlName="mobileFormControl">
    <md-error *ngIf="signupform.controls['mobileFormControl'].hasError('pattern')">
      Please enter a valid mobile number
    </md-error>
    <md-error *ngIf="signupform.controls['mobileFormControl'].hasError('required')">
      Mobile Number is <strong>required</strong>
    </md-error>
  </md-form-field>
  <md-form-field class="example-full-width">
    <input type="password" mdInput placeholder="Password" formControlName="passwordFormControl">
    <md-error *ngIf="signupform.controls['passwordFormControl'].hasError('required')">
      Password <strong>required</strong>
    </md-error>
  </md-form-field>
  <div>
   <button md-raised-button color="primary">Signup</button>
  </div>
</form>
</div>
</md-card>
</div>