.block2
{
	margin:5px;
	height:auto;
	margin-bottom:50px;
}
.block h2
{
	background-color:orange;
	color:#fff;
	font-size:20px;
	margin:0px;
	padding:5px;
	margin-bottom:10px;
	padding-bottom:20px;
}
.block2 h2
{
	background-color:orange;
	color:#fff;
	font-size:20px;
	margin:0px;
	padding:5px;
	margin-bottom:10px;
}
.sub1
{
	width:280px;
	height:400px;
	float:left;
	margin-right:40px;
}
.sub1 h3
{
	color:#000;
	background-color:#fff;
	text-align:center;
}
.sub1 img{
	box-shadow:5px 5px 5px #dbd7da;
	border-radius:6px;
}
.clear
{
	clear:both;
}
.md-card-image-customized
{
	height: 250px !important;
	width: auto !important;
	margin: 0 auto !important;
	display: block !important;
}
.header
{
	text-align:center;
	font-size:20px;
	color:#ff5100;
	font-weight:bold;
	font-family:'Raboto';
}
.mrgt20
{
	margin-top:20px !important;
}