<div fxLayout="row">
<md-form-field class="example-full-width">
    <input  mdInput placeholder="Search Mobiles..." [(ngModel)]="term" name="term" />
  </md-form-field>
</div>
<div fxLayout="row" fxLayoutWrap fxLayoutGap="65px">
<md-card fxFlex="30%" *ngFor="let mobile of mobiles | search : term">
    <md-card-header>
      <!-- <img md-card-avatar="" src="./assets/images/avatar.png">
      <md-card-subtitle>
        Yesterday
      </md-card-subtitle> -->
      <md-card-title class="header" color="warn">{{mobile.name}}</md-card-title>
    </md-card-header>
    <img class="md-card-image-customized" src="./assets/images/{{mobile.main_image}}">
    <md-card-content>
    	<h3 class="mrgt20">Helights</h3>
      <ul data-reactid="314">
      <li class="_2-riNZ" data-reactid="315" *ngFor="let heis of mobile.heilights">{{heis}}</li>
      </ul>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions>
      <div fxLayout="row">
        <button md-icon-button>
          <md-icon>share</md-icon>
        </button>
        <button md-icon-button color="warn">
          <md-icon>favorite</md-icon>
        </button>
        <span fxFlex></span>
        <button md-raised-button color="primary" (click)="toBuy()">
          Buy
        </button>
        <button md-raised-button color="accent">
          Add to Cart
        </button>
      </div>
    </md-card-actions>
  </md-card>
  </div>