
<div>
<img src="./assets/images/baner1.jpg" alt="Image" width="1332" height="350">
</div>
<div class="block1">
<h2>About Phone</h2>
<h4> 1: The first mobile phone was Motorola Dyna TAC 8000X</h4>
<p>
The first mobile phone was the Motorola Dyna TAC 8000X.invented in 1983 by Martin Copper,
 a senior employee at Motorola. It could only store 30 contacts with a weight of around 1.1 kg and offered talk time of 30 minutes.
  It's retail price Roughly $3,999.
</p>

<h4> 2: The first mobile phone call was made on April 3, 1973 </h4>
<p>
The first mobile phone call was placed to Dr. Joel S. Engel of Bell Labs by Martin Cooper on April 3, 1973,
 with the first ever developed mobile phone Motorola Dyna TAC.
</p>


<h4> 3: The first smart phone was made by IBM </h4>
<p>
The very first smart phone is actually over 20-years-old,and was launched on August  16, 1994 by IBM.
 Initially code named the Angler , the phone was given the name Simon Personal Communicator 
 before its final release in 1994. It was the first commercially available touch screen phone which 
 could be easily operated with the help of stylus or fingertip and came pre-installed with functions 
 like a calendar, calculator, address book, and Note Pad.
<br>
</p>
</div>
