
.block1
{
	margin:10px;
}
.block1 p
{
	text-align:justify;
	font-size:16px;
	font-weight:400;
	font-family:'sans-serif';
	
}
.block1 h2
{
	background-color:orange;
	font-size:20px;
	color:#fff;
	text-align:center;
	font-family:'sans-serif';
}
.block1 h3
{
	text-align:left;
	font-size:18px;
	color:red;
	font-family:'sans-serif';
}